.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


body{
    
    padding: 1%;
    
}

/* ALL CONTENT WRAPPER  */
.wrapper {
    margin: 2%;
    padding: 1%;
    
}


/* Game Name "Crystals Collection" */
.headerBox {
    background-color: blue;
    margin: 2%;
    padding: 2%;
    color: white;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/* end game name*/


/* Instructions box begins */
.instructionBox {
    background-color: aquamarine;
    margin: 2%;
    padding: 1%;
    width: 400px;
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold; 
}

li{
    margin: 2%;
}
/* end of instructions box */


/*CONTAINER Random number and Total wins losses begins */
.mainContent {
    margin: 2%;
    padding: 0;
    width: 300px;
}

    /* Random Number Generated box begins */
    .randomNumberBox {
        background-color: cyan;
        width: 100px;
        padding: 1%;
        float: left;
        height: 60px;
        font-size: 25px;
        color: darkblue;
    }
    /* random number generated box ends */

    /* Total Wins/Losses box begins */
    .winLoseBox {
        background-color: cadetblue;
        width: 100px;
        padding: 1%;
        float: left;
        margin-left: 5%;
        height: 60px;

    }
    /* total wins/losses box ends */

    img{
        margin: 1%;
    }
    
    .crystalContainer {
        padding: 1%;
     }

     #purpleCrystal,#blueCrystal,#greenCrystal, #yellowCrystal {
         float: left;
         margin: 1%;

     }
    

    /*END CONTAINER random number and total wins/losses */

.totalScoreStatementOnly {
    background-color: mediumvioletred;
    margin: 2%;
    padding: 1%;
    width: 125px;
    float: left;
    height: 25px;
}

.totalScoreBox {
    background-color: mediumvioletred;
    margin: 2%;
    padding: 1%;
    width: 125px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    float: left;
}


